/* responsive */

@media screen and (max-width: 576px){
    body{
        width: min-content ;
    }
    .nav-bar, .nav-links{
        flex-direction: column;
    }
    .nav-bar{
       height: 200px;
       width: 300px;
       align-items: center;
       justify-content: center;
       text-align: center;
       margin: 50px 200px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 50px;
        background-position: left bottom;
        background-size: 550px 550px;
    }
    .banner>img{
    width: 500px;
    align-items: center;
    }
    .we-are-gamer-container>img{
        width: 100%;
    }
     .we-are-gamer-container{
       flex-direction: column;
       padding: 0;
       background: none;
       justify-content: center;
       /* margin-right: -350px ; */
       
}
.gamer-description{
    text-align: center;
    padding: 100px;
}
.play-instantly-container{
    flex-direction: column;
    margin: 0;
    /* margin-right: -350px ; */
    justify-content: normal;
    
}
.play{
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.play-img{
    margin-left: 200px;
    
}
.game-button-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.terms,.links,.footer-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
footer{
    padding: 100px 250px;
    /* margin-right: -400px; */
}

.online-heading{
    margin-top: 50px;
    text-align: center;
    /* margin-right: -350px; */
}
.card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: -100px; */
    
}

.careers-container{
    flex-direction: column;
    margin: 0;
    padding: 40px 0px;
    /* margin-right: -180px; */
    margin-top: -150px;
    margin-bottom: 150px;
    height: 100%;
}
.career{
    width: 60%;
}
.careers-container>img{
    width: 100%;
}



}

/* tablet devices */
@media screen and (min-width:576px) and (max-width: 992px){
    .banner{
        flex-direction: column;
        background-position: left top;
        background-size: 700px 600px;
        gap: 80px;
    }
    .nav-bar{
        justify-content: space-around;
        margin: 0;
    }
    .banner>img{
    width: 500px;
    align-items: center;
    }
    .we-are-gamer-container>img{
        width: 100%;
    }
    .we-are-gamer-container{
        flex-direction: column;
        padding: 30px 150px 20px 150px;
        
    }
    .gamer-description{
    text-align: center;
}
.play-instantly-container{
    flex-direction: column;
    justify-content: normal;
    
}
.play{
    text-align: center;
    margin-bottom: 10px;
}
.play-img{
    margin-left: 130px;
}
.game-button-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0 50px;

}
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    
}
.careers-container{
    flex-direction: column;
    margin: 0;
    padding: 100px 0px;
    padding-left: 12%;
    margin-top: -150px;
    margin-bottom: 150px;
    height: 100%;
    align-items: normal;
}
.career{
    width: 50%;
}
.careers-container>img{
    width: 400px;
}
}
