body{
    font-family: 'VT323', monospace;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 auto;
}

/* shared  */
.description{
    color: #534C64;
}
p>img{
    width: 25px;
    height: 25px;
}
ul li{
    list-style: none;
    font-size: 18px;
}
a>img{
    width: 35px;
    height: 35px;
}
.title{
    font-size: 45px;
    margin: 0;
}
:root{
    --primary-gradient: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}
.pink{
    color: #FF42A5;
}
.button{
    padding: 10px 40px;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    background-color: #FF42A5;
    border-radius: 48px
    
}
.blue-button{
    background-color: #4EC5F7;
}
.white-button{
    background-color: #fff ;
    color: #FF42A5;
}

/* nav style  */
nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 250px 0px 250px;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
}
.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
}
.follow{
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    padding: 10px 25px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner style  */
.main-attraction{
    font-size: 150px;
    font-family: 'VT323', monospace;
    margin: 0;
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.text-with-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 350px;
    align-items: center;
    gap: 200px;
    background-image: url(images/Group14.png);
    background-position: left;
    background-repeat: no-repeat;    
    margin-bottom: -41.5px;
}
.banner>img{
    width: 60%;
    }
.banner-buttons{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

/* we-are-gamer style */
.gamer-title{
     background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.we-are-gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px 0px 250px;
    background-color: rgba(255, 66, 165, 0.03);
}
.gamer-description{
    text-align: right;
}
.gamer-description>button{
    margin-top: 20px;
    margin-bottom: 20px;
}
.gamer-description>h3{
    margin: 0;
}
/* online games style  */

.gradient{
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.online-heading{
    margin-top: 50px;
    text-align: center;
}
/* play instantly */
.play-instantly-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 50px 250px 0px 250px;
}
.play{
    text-align: right;
    width: 450px;
    margin-bottom: 250px;
}
.pip{
    position: relative;
    bottom: 300px;
    right: 150px;
}




/* responsive */

@media screen and (max-width: 576px){
    nav, .nav-links{
        flex-direction: column;
    }
    nav{
       height: 200px;
       width: 300px;
       align-items: center;
       justify-content: center;
       text-align: center;
       margin: 50px 200px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 50px;
        background-position: left bottom;
        background-size: 550px 550px;
    }
    .banner>img{
    width: 500px;
    align-items: center;
    }
    .we-are-gamer-container>img{
        width: 100%;
    }
     .we-are-gamer-container{
       flex-direction: column;
       padding: 0;
       background: none;
       justify-content: center;
       margin-right: -350px ;
       
}
.gamer-description{
    text-align: center;
    padding: 100px;
}
.play-instantly-container{
    flex-direction: column;
    padding: 0;
    justify-content: normal;
}
.play{
    text-align: center;
    width: 90%;
    justify-content: center;
    margin-bottom: 250px;
}
.play-img>{
   width: fit-content;
    
}
}

/* tablet devices */
@media screen and (min-width:576px) and (max-width: 992px){
    .banner{
        flex-direction: column;
        background-position: left top;
        background-size: 700px 600px;
        gap: 80px;
    }
    nav{
        justify-content: space-around;
        margin: 0;
    }
    .banner>img{
    width: 500px;
    align-items: center;
    }
    .we-are-gamer-container>img{
        width: 100%;
    }
    .we-are-gamer-container{
        flex-direction: column;
        padding: 30px 150px 20px 150px;
        
    }
    .gamer-description{
    text-align: center;
}
}



.hide{
    display: none;
}