body{
    font-family: 'VT323', monospace;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 auto;
}

/* shared  */
img{
    max-width: 100%;
    max-height: 100%;
}
.description{
    color: #534C64;
}
p>img {
    width: 25px;
    height: 25px;
    
}
.footer-icons>img, .icon{
     width: 25px;
    height: 25px;
}
ul li{
    list-style: none;
    font-size: 18px;
}
a>img{
    width: 35px;
    height: 35px;
}
.title{
    font-size: 45px;
    margin: 0;
}
:root{
    --primary-gradient: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}
.pink{
    color: #FF42A5;
}
.button{
    padding: 10px 40px;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    background-color: #FF42A5;
    border-radius: 48px  
}
.button:hover{
    cursor: pointer;
    outline: 1px solid black;
    color: black;
}
.blue-button{
    background-color: #4EC5F7;
}
.white-button{
    background-color: #fff ;
    color: #FF42A5;
}

/* .nav-bar style  */
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #FFF;
    z-index: 2;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
}
.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
}
.follow{
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    padding: 10px 25px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner style  */
.main-attraction{
    font-size: 150px;
    font-family: 'VT323', monospace;
    margin: 0;
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.text-with-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    background-image: url(images/Group14.png);
    background-position: left;
    background-repeat: no-repeat;
}
.banner-buttons{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

/* we-are-gamer style */
.gamer-title{
     background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.we-are-gamer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    padding: 30px 250px 0px 100px;
    background-color: rgba(255, 66, 165, 0.03);
}
.gamer-description{
    text-align: right;
}
.gamer-description>button{
    margin-top: 20px;
    margin-bottom: 20px;
}
.gamer-description>h3{
    margin: 0;
}

/* online games style  */

.gradient{
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.online-heading{
    margin-top: 50px;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.card{
    text-align: center;
}
.card:hover{
    opacity: 50%;
    cursor: pointer;
}

/* play instantly */
.play-instantly-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.play{
    text-align: right;
    width: 350px;
    margin-bottom: 250px;
}
.pip{
    position: relative;
    bottom: 300px;
    right: 150px;
    z-index: 1;
}
/* career style  */
.careers-container{
    display: flex;
    background-color:  #FF42A5;
    color: #FFF;
    margin-top: 0px;
    justify-content: space-evenly;
    align-items:center;
    gap: 50px;
    padding: 50px 0px 0px 200px;
    height: 725px;
}
table{
    font-weight: 700;
    width: 120%;
    
}
table tr td:nth-child(2){
    text-align: right;
}
.careers-container button{
    margin-top: 30px;
}
/* game selection style */
.game-button-container{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 200px 50px 200px;
    background-color: rgba(255, 66, 165, 0.03);
}
.game-button{
   margin-top: 30px;
   border-radius: 40px;
   padding: 10px 15px;
   display: flex;
   align-items: center;
   gap: 20px;
   background-color: white;
}
.game-button>a{
    text-decoration: none;
    color: #534C64;
    font-weight: bold;
}
.game-button:hover{
    outline: 2px solid #FF42A5;
    cursor: pointer;
   
}
.game-button a:hover{
 color: #FF42A5;
}
/* footer style  */
footer {
    background: #0B0223;
    text-align: center;
    padding: 100px;
}
.white{
    color: #FFF;
    text-align: center;
    align-items: center; 
}
.links>a  {
    color: #FFF;
    text-decoration: none;

}
.terms>a{
    text-decoration: none;
    color:  #afafaf;
}
.gamer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.terms,.links,.footer-icons{
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 30px;
}
.footer-text {
    margin-top: 15px;
}












.hide{
    display: none;
}

